body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(1, 1, 38);
    /* display: flex;
    flex-direction: column; */
}

nav {
    background-color: gray;
    /* height: 80px; */
    /* width: 100%; */
    margin: 0;
    overflow: hidden;
    border-radius: 5px;
}

nav ul {
    display: flex;
    margin: 0
    padding: 0;
    
}

nav ul li {
    color: white;
    display: block;
    line-height: 3em;
    padding: 20px;
    font-size: 30px;
}

nav ul li:first-child {
    margin-right: auto;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: rgb(147, 42, 98);
}

.section:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.subsection {
    color: coral;
    display: flex;
    flex-direction: column;

}


h1 {
    display: flex;
    /* text-align: center; */
    justify-content: left;
    font-size: 50px;
    text-decoration: underline;
    margin: 15px 0 15px 25px;

}

.center_pic {
    display: block;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

.description-of-me {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    border: solid white;
    padding: 15px;
    margin: 0 250px 0 250px;
    background: rgb(107, 190, 190);
    color: black;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 400px;

}

h3 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    border: solid white;
    border-radius: 25px;
    background-color: rgb(1, 62, 42);
    color: aliceblue;
}

.description-of-project {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    border: solid white;
    border-radius: 75px;
    margin: 0 500px 0 500px;
    background-color:plum;
    color: black
}

.contact-section {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 25px;
    font-size: 20px;
}